/* Footers */
//main page footer

.l-footers-main
	min-height: 10em
	display: flex 
	flex: 1 0 100%

	&--shell
		margin: 0 0.5em

//blog poage footer
.l-footers-blog
	min-height: 10em
	display: flex 
	flex: 1 0 100%

	&--shell
		margin: 0 0.5em
