$mobile: 568px
$tablet: 768px
$timeline: 1000px
$desktop: 1024px

$white: #FFFFFFFF

$gold: gold
$gold1: shade($gold, 20%)
$v-red: #d95a77
$v-olive: #AEAB8A
$aths-special: #cfcfcf
$almond: #ECD0C2
$clam-shell: #CEABB2
$twilight: #DDC6CE
$soft-peach: #F2E6E6

$zest: #e67e22

$darktwilight: darken($twilight, 2%)
$special-dark: darken($aths-special, 2%)
$soft-peach-dark: darken($soft-peach, 15%)
$soft-peach-menu: darken($soft-peach, 24%)

// links

$hover: invert($v-red)
$visited: mix($v-red, $hover, 70)
$mixer: mix($clam-shell, $hover, 50)
