@import url('https://fonts.googleapis.com/css?family=Lora')
//variables
$mobile: 568px
$tablet: 768px
$timeline: 1000px
$desktop: 1024px

$zero: #0048BA
$nutmeg: #803e27
$antique-brass: #C17C56
$ignore: #FE5532
$white: #FFFFFF
$antique-ruby: #841B2D
$gold: #ffd700
$gold1: shade($gold, 20%)
$v-red: #d95a77
$v-red-dark: darken($v-red, 20%)
$v-olive: #AEAB8A
$aths-special: #cfcfcf
$almond: #ECD0C2
$clam-shell: #CEABB2
$twilight: #DDC6CE
$soft-peach: rgba(242,230,230, .5)
$yellow: #ffff00
$zest: #e67e22
$orange: #ffa500
$darktwilight: darken($twilight, 2%)
$special-dark: darken($aths-special, 2%)
$soft-peach-dark: darken($soft-peach, 55%)
$soft-peach-menu: darken($soft-peach, 54%)
$peachie: invert($soft-peach)
$soft-peach1: rgba(242, 230, 230, .5)

$hover: #130393
$visited: mix($antique-ruby, $hover, 70)
$mixer: mix($clam-shell, $hover, 50)
$red: #ff0000

$gray4: #ced4da
$gray5: #adb5bd
$gray6: #868e96
$gray7: #495057
$gray8: #343a40
$gray9: #212529
$indigo2: #bac8ff
$indigo3: #91a7ff
$indigo4: #748ffc
$indigo5: #5c7cfa
$indigo6: #4c6ef5
$indigo7: #4263eb
$indigo8: #3b5bdb
$indigo9: #364fc7
