
.m-boxes-row
	display: flex
	justify-content: space-around
	flex-wrap: wrap
	width: 100%
	
.m-boxes-box
	flex: 1
	min-height: 200px
	min-width: 300px
	max-width: 340px
	background-color: $soft-peach

	&--title
		text-align: center
		padding: 5px 0

	&--shell
		margin: 3px 5px

		p
			font-size: calc(16px + 0.25vw)

