.line
	display: inline
	margin-right: 10px
	& a:hover
		background-color: $soft-peach-dark

.round1
	+circle(50%, 250px, 250px, $zero)
	display: grid
	place-items: center
	padding: 5px
	color: $ignore

#demo12
	color: black
	display: block