.flexible
  display: flex
  justify-content: start
  flex-wrap: wrap

.line
  display: inline
  margin-right: 10px

  & a:hover
    background-color: $soft-peach-dark

#demo12
  color: black
  display: block