@import url("https://fonts.googleapis.com/css?family=Lora");
/* Grids */
body {
  margin: 0;
  padding: 0;
  font-size: 18px; }

.container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10vw auto 10vw;
  margin: 0 auto;
  max-width: 80em; }

header,
footer {
  grid-column: 1/span 5;
  background: #bac8ff; }

main {
  grid-column: 1/span 3;
  background: #ECD0C2;
  display: grid;
  grid-template-columns: 0.25fr 0.75fr; }

.post {
  margin: 1rem;
  border: 1px solid red; }
  .post p {
    margin: 5px; }

div.title {
  font-size: 2.5rem;
  text-align: center;
  border: 1px solid red; }

aside {
  grid-column: span 2;
  background: #e67e22; }
  aside ul, aside li {
    display: block; }

@media (max-width: 900px) {
  .container {
    width: 100%;
    margin: 0; }

  main,
  aside {
    grid-column: 1/span 5; }
    main ul, main li,
    aside ul,
    aside li {
      display: inline; }

  aside {
    display: grid;
    grid-template-columns: 100px 200px auto;
    height: auto;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around; }
    aside .nukem p {
      margin: 0; } }
header,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

header,
footer {
  height: 10vw; }

[class*='col-'] {
  width: 100%;
  float: left;
  min-height: 1px;
  padding: 1em; }

.col-1 {
  width: 8.3333333333%;
  min-height: 150px;
  padding: 15px 10px; }

.col-2 {
  width: 16.6666666667%;
  min-height: 150px;
  padding: 15px 10px; }

.col-3 {
  width: 25%;
  min-height: 150px;
  padding: 15px 10px; }

.col-4 {
  width: 33.3333333333%;
  min-height: 150px;
  padding: 15px 10px; }

.col-5 {
  width: 41.6666666667%;
  min-height: 150px;
  padding: 15px 10px; }

.col-6 {
  width: 50%;
  min-height: 150px;
  padding: 15px 10px; }

.col-7 {
  width: 58.3333333333%;
  min-height: 150px;
  padding: 15px 10px; }

.col-8 {
  width: 66.6666666667%;
  min-height: 150px;
  padding: 15px 10px; }

.col-9 {
  width: 75%;
  min-height: 150px;
  padding: 15px 10px; }

.col-10 {
  width: 83.3333333333%;
  min-height: 150px;
  padding: 15px 10px; }

.col-11 {
  width: 91.6666666667%;
  min-height: 150px;
  padding: 15px 10px; }

.col-12 {
  width: 100%;
  min-height: 150px;
  padding: 15px 10px; }

.color-1 {
  background-color: #33f61b; }

.color-2 {
  background-color: #68cbb7; }

.color-3 {
  background-color: #2d53ec; }

.color-4 {
  background-color: #fdd002; }

.color-5 {
  background-color: #16e006; }

.fs-1 {
  font-size: 0.5vw; }

.fs-2 {
  font-size: 1vw; }

.fs-3 {
  font-size: 1.5vw; }

.fs-4 {
  font-size: 2vw; }

.fs-5 {
  font-size: 2.5vw; }

.fs-6 {
  font-size: 3vw; }

.fs-7 {
  font-size: 3.5vw; }

.fs-8 {
  font-size: 4vw; }

.fs-9 {
  font-size: 4.5vw; }

.fs-10 {
  font-size: 5vw; }

.fs-11 {
  font-size: 5.5vw; }

.fs-12 {
  font-size: 6vw; }

.fs-13 {
  font-size: 6.5vw; }

.fs-14 {
  font-size: 7vw; }

.fs-15 {
  font-size: 7.5vw; }

.fs-16 {
  font-size: 8vw; }

.fs-17 {
  font-size: 8.5vw; }

.fs-18 {
  font-size: 9vw; }

.fs-19 {
  font-size: 9.5vw; }

.fs-20 {
  font-size: 10vw; }

/* Font weight mixin */
.bold-1 {
  font-weight: 50; }

.bold-2 {
  font-weight: 100; }

.bold-3 {
  font-weight: 150; }

.bold-4 {
  font-weight: 200; }

.bold-5 {
  font-weight: 250; }

.bold-6 {
  font-weight: 300; }

.bold-7 {
  font-weight: 350; }

.bold-8 {
  font-weight: 400; }

.bold-9 {
  font-weight: 450; }

.bold-10 {
  font-weight: 500; }

.bold-11 {
  font-weight: 550; }

.bold-12 {
  font-weight: 600; }

.bold-13 {
  font-weight: 650; }

.bold-14 {
  font-weight: 700; }

.bold-15 {
  font-weight: 750; }

.bold-16 {
  font-weight: 800; }

.bold-17 {
  font-weight: 850; }

.bold-18 {
  font-weight: 900; }

.bold-19 {
  font-weight: 950; }

.bold-20 {
  font-weight: 1000; }

.mb1 {
  margin-bottom: 1px; }

.mb2 {
  margin-bottom: 2px; }

.mb3 {
  margin-bottom: 3px; }

.mb4 {
  margin-bottom: 4px; }

.mb5 {
  margin-bottom: 5px; }

.mb6 {
  margin-bottom: 6px; }

.mb7 {
  margin-bottom: 7px; }

.mb8 {
  margin-bottom: 8px; }

.mb9 {
  margin-bottom: 9px; }

.mb10 {
  margin-bottom: 10px; }

.mb11 {
  margin-bottom: 11px; }

.mb12 {
  margin-bottom: 12px; }

.mb13 {
  margin-bottom: 13px; }

.mb14 {
  margin-bottom: 14px; }

.mb15 {
  margin-bottom: 15px; }

.mb16 {
  margin-bottom: 16px; }

.mb17 {
  margin-bottom: 17px; }

.mb18 {
  margin-bottom: 18px; }

.mb19 {
  margin-bottom: 19px; }

.mb20 {
  margin-bottom: 20px; }

.br-1 {
  border: 1px;
  border-color: #ffc078;
  border-style: solid; }

.br-2 {
  border: 2px;
  border-color: #ffc078;
  border-style: solid; }

.br-3 {
  border: 3px;
  border-color: #ffc078;
  border-style: solid; }

.br-4 {
  border: 4px;
  border-color: #ffc078;
  border-style: solid; }

.br-5 {
  border: 5px;
  border-color: #ffc078;
  border-style: solid; }

.input-small {
  width: 10%; }

.input-med {
  width: 30%; }

.input-med-lg {
  width: 50%; }

.input-large {
  width: 75%; }

.input-full {
  width: 100%; }


