@import url("https://fonts.googleapis.com/css?family=Lora");
/* Color Theme Swatches in Hex */
/* Color Theme Swatches in RGBA */
/* Color Theme Swatches in HSLA */
/* Grids */
body {
  margin: 0;
  padding: 0;
  font-size: 18px; }

.container {
  display: -ms-grid;
  display: grid;
  grid-gap: 1em;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 10vw auto 10vw;
  grid-template-rows: 10vw auto 10vw;
  margin: 0 auto;
  max-width: 80em; }

header,
footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1 / span 5;
  background: #bac8ff; }

main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  background: #ECD0C2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .25fr .75fr;
  grid-template-columns: .25fr .75fr; }

.post {
  margin: 1rem;
  border: 1px solid red; }
  .post p {
    margin: 5px; }

div.title {
  font-size: 2.5rem;
  text-align: center;
  border: 1px solid red; }

aside {
  -ms-grid-column-span: 2;
  grid-column: span 2;
  background: #e67e22; }
  aside ul, aside li {
    display: block; }

@media (max-width: 900px) {
  .container {
    width: 100%;
    margin: 0; }
  main,
  aside {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / span 5; }
    main ul, main li,
    aside ul,
    aside li {
      display: inline; }
  aside {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100px 200px auto;
    grid-template-columns: 100px 200px auto;
    height: auto;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around; }
    aside .nukem p {
      margin: 0; } }

header,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

header,
footer {
  height: 10vw; }

[class*='col-'] {
  width: 100%;
  float: left;
  min-height: 1px;
  padding: 1em; }

.col-1 {
  width: 8.33333%;
  min-height: 150px;
  padding: 15px 10px; }

.col-2 {
  width: 16.66667%;
  min-height: 150px;
  padding: 15px 10px; }

.col-3 {
  width: 25%;
  min-height: 150px;
  padding: 15px 10px; }

.col-4 {
  width: 33.33333%;
  min-height: 150px;
  padding: 15px 10px; }

.col-5 {
  width: 41.66667%;
  min-height: 150px;
  padding: 15px 10px; }

.col-6 {
  width: 50%;
  min-height: 150px;
  padding: 15px 10px; }

.col-7 {
  width: 58.33333%;
  min-height: 150px;
  padding: 15px 10px; }

.col-8 {
  width: 66.66667%;
  min-height: 150px;
  padding: 15px 10px; }

.col-9 {
  width: 75%;
  min-height: 150px;
  padding: 15px 10px; }

.col-10 {
  width: 83.33333%;
  min-height: 150px;
  padding: 15px 10px; }

.col-11 {
  width: 91.66667%;
  min-height: 150px;
  padding: 15px 10px; }

.col-12 {
  width: 100%;
  min-height: 150px;
  padding: 15px 10px; }

.color-1 {
  background-color: #485d2f; }

.color-2 {
  background-color: #312bb7; }

.color-3 {
  background-color: #e3f36b; }

.color-4 {
  background-color: #a2969d; }

.color-5 {
  background-color: #9d829d; }

.fs-1 {
  font-size: 0.5vw; }

.fs-2 {
  font-size: 1vw; }

.fs-3 {
  font-size: 1.5vw; }

.fs-4 {
  font-size: 2vw; }

.fs-5 {
  font-size: 2.5vw; }

.fs-6 {
  font-size: 3vw; }

.fs-7 {
  font-size: 3.5vw; }

.fs-8 {
  font-size: 4vw; }

.fs-9 {
  font-size: 4.5vw; }

.fs-10 {
  font-size: 5vw; }

.fs-11 {
  font-size: 5.5vw; }

.fs-12 {
  font-size: 6vw; }

.fs-13 {
  font-size: 6.5vw; }

.fs-14 {
  font-size: 7vw; }

.fs-15 {
  font-size: 7.5vw; }

/* Font weight mixin */
.bold-1 {
  font-weight: 50; }

.bold-2 {
  font-weight: 100; }

.bold-3 {
  font-weight: 150; }

.bold-4 {
  font-weight: 200; }

.bold-5 {
  font-weight: 250; }

.bold-6 {
  font-weight: 300; }

.bold-7 {
  font-weight: 350; }

.bold-8 {
  font-weight: 400; }

.bold-9 {
  font-weight: 450; }

.bold-10 {
  font-weight: 500; }

.bold-11 {
  font-weight: 550; }

.bold-12 {
  font-weight: 600; }

.bold-13 {
  font-weight: 650; }

.bold-14 {
  font-weight: 700; }

.bold-15 {
  font-weight: 750; }

.mb1 {
  margin-bottom: 1px; }

.mb2 {
  margin-bottom: 2px; }

.mb3 {
  margin-bottom: 3px; }

.mb4 {
  margin-bottom: 4px; }

.mb5 {
  margin-bottom: 5px; }

.mb6 {
  margin-bottom: 6px; }

.mb7 {
  margin-bottom: 7px; }

.mb8 {
  margin-bottom: 8px; }

.mb9 {
  margin-bottom: 9px; }

.mb10 {
  margin-bottom: 10px; }

.br-1 {
  border: 1px;
  border-color: #b0bec5;
  border-style: solid; }

.br-2 {
  border: 2px;
  border-color: #b0bec5;
  border-style: solid; }

.br-3 {
  border: 3px;
  border-color: #b0bec5;
  border-style: solid; }

.br-4 {
  border: 4px;
  border-color: #b0bec5;
  border-style: solid; }

.br-5 {
  border: 5px;
  border-color: #b0bec5;
  border-style: solid; }

.input-small {
  width: 10%; }

.input-med {
  width: 30%; }

.input-med-lg {
  width: 50%; }

.input-large {
  width: 75%; }

.input-full {
  width: 100%; }
