/* Grids */
body {
  margin: 0;
  padding: 0;
  font-size: 18px; }

.container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 10vw auto 10vw;
  margin: 0 auto;
  max-width: 80em; }

header,
footer {
  grid-column: 1/span 5;
  background: #bac8ff; }

main {
  grid-column: 1/span 3;
  background: #ECD0C2;
  display: grid;
  grid-template-columns: 0.25fr 0.75fr; }

.post {
  margin: 1rem;
  border: 1px solid red; }
  .post p {
    margin: 5px; }

div.title {
  font-size: 2.5rem;
  text-align: center;
  border: 1px solid red; }

aside {
  grid-column: span 2;
  background: #e67e22;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr; }
  aside ul, aside li {
    display: block; }

@media (max-width: 900px) {
  .container {
    width: 100%;
    margin: 0; }

  main,
  aside {
    grid-column: 1/span 5; }
    main ul, main li,
    aside ul,
    aside li {
      display: inline; }

  aside {
    display: grid;
    grid-template-columns: 100px 200px auto;
    height: auto;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around; }
    aside .nukem p {
      margin: 0; } }
header,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

header,
footer {
  height: 10vw; }


