dd
	margin-left: 2em

li:not(.hova)
	padding: 6px 0

tr, td


.display-4
  color: $gray6

.clip-circle
  clip-path: circle(130px at center)

fieldset
  border: 1px solid $antique-ruby
  legend
    padding: 1em
    color: $soft-peach-dark

.wrapper
  display: flex
  width: 100%

.wrap
  flex: 1

.indigo2
  background: $indigo3

.underline
  border-bottom: 1px solid #000
