dd
	margin-left: 2em

li:not(.hova) 
	padding: 6px 0

tr, td 
  color: $almond

.display-4
  color: $gray6

.clip-circle
  clip-path: circle(130px at center)

fieldset
  border: 1px solid $antique-ruby 
  legend
    padding: 1em
    color: $soft-peach-dark