select
  width: 50%

.error
  color: $antique-ruby

input::placeholder
  color: red
  opacity: 0.75
  letter-spacing: 2px
  text-transform: capitalize
  text-indent: 2em
  font-variant: small-caps
  font-weight: 700


input::-moz-placeholder
  color: red
  opacity: 0.75
  letter-spacing: 2px
  text-transform: capitalize
  text-indent: 2em
  font-variant: small-caps
  font-weight: 700

input:focus
  background: yellow
  font-style: italic
  &::placeholder
    line-height: 13

fieldset
  border: 1px solid $antique-ruby

legend
  padding: 1em
  color: $soft-peach-dark

.tincture
  width: 40%

// input widths
.input-lg
  width: 60%

.input-med
  width: 40%

.input-small
  width: 20%

  // text input design

.trans
  background: transparent
  border: none

.moss
  color: $chamois
  text-shadow: 2px 1px 1px black


.inliner
  display: inline