//background gradient
.example
	background: radial-gradient(circle at top left,$indigo4 15%, $indigo6 5%, $indigo9)

//text with a gradient
.ptext
	background-image: linear-gradient(to right, $orange, $v-red, $yellow)
	color: transparent
	background-clip: text
