
/* links */

a 
	color: $v-red
	text-decoration: none
	transition: color $base-duration $base-timing
	
	&:visited
		background-color: $zest
		color: $visited
		text-decoration: overline
	
	&:focus, :hover, :active
		color: $hover
		text-shadow: 1px 1px 3px black
